USE [PRIMJER]
GO
/****** Object:  Table [dbo].[ARTIKAL]    Script Date: 1.3.2022. 21:21:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTIKAL](
	[ID_Artikal] [int] IDENTITY(1,1) NOT NULL,
	[Naziv_Artikla] [nvarchar](50) NOT NULL,
	[Boja_Artikla] [nchar](10) NOT NULL,
	[Informativna_Cijena] [money] NOT NULL,
 CONSTRAINT [PK_ARTIKAL] PRIMARY KEY CLUSTERED 
(
	[ID_Artikal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KUPAC]    Script Date: 1.3.2022. 21:21:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KUPAC](
	[ID_Kupca] [int] IDENTITY(1,1) NOT NULL,
	[Ime_Kupca] [nvarchar](50) NOT NULL,
	[Adresa_Kupca] [nvarchar](50) NULL,
 CONSTRAINT [PK_KUPAC] PRIMARY KEY CLUSTERED 
(
	[ID_Kupca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RACUN]    Script Date: 1.3.2022. 21:21:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RACUN](
	[ID_Racun] [int] IDENTITY(1,1) NOT NULL,
	[Datum_Racuna] [datetime] NOT NULL,
	[Datum_Dospijeca] [datetime] NOT NULL,
	[Napomena] [nvarchar](max) NULL,
	[ID_Kupac] [int] NOT NULL,
	[ID_Skladiste] [int] NOT NULL,
 CONSTRAINT [PK_RACUN] PRIMARY KEY CLUSTERED 
(
	[ID_Racun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RACUN_ARTIKAl]    Script Date: 1.3.2022. 21:21:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RACUN_ARTIKAl](
	[ID_Racun] [int] NOT NULL,
	[ID_Artikal] [int] NOT NULL,
	[Cijena] [money] NOT NULL,
	[Kolicina] [int] NOT NULL,
	[Rabat_Postotak] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SKLADISTE]    Script Date: 1.3.2022. 21:21:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKLADISTE](
	[ID_Skladiste] [int] IDENTITY(1,1) NOT NULL,
	[Ime_Skladista] [nvarchar](50) NOT NULL,
	[Adresa_Skladista] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SKLADISTE] PRIMARY KEY CLUSTERED 
(
	[ID_Skladiste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ARTIKAL] ON 

INSERT [dbo].[ARTIKAL] ([ID_Artikal], [Naziv_Artikla], [Boja_Artikla], [Informativna_Cijena]) VALUES (1, N'Artikal1', N'Zuta      ', 22.2200)
SET IDENTITY_INSERT [dbo].[ARTIKAL] OFF
GO
SET IDENTITY_INSERT [dbo].[KUPAC] ON 

INSERT [dbo].[KUPAC] ([ID_Kupca], [Ime_Kupca], [Adresa_Kupca]) VALUES (1, N'Danko', N'Visoka 2')
SET IDENTITY_INSERT [dbo].[KUPAC] OFF
GO
SET IDENTITY_INSERT [dbo].[RACUN] ON 

INSERT [dbo].[RACUN] ([ID_Racun], [Datum_Racuna], [Datum_Dospijeca], [Napomena], [ID_Kupac], [ID_Skladiste]) VALUES (3, CAST(N'2012-12-12T00:00:00.000' AS DateTime), CAST(N'2012-12-13T00:00:00.000' AS DateTime), NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[RACUN] OFF
GO
SET IDENTITY_INSERT [dbo].[SKLADISTE] ON 

INSERT [dbo].[SKLADISTE] ([ID_Skladiste], [Ime_Skladista], [Adresa_Skladista]) VALUES (1, N'Glavno Skladiste', N'Visoka 2')
SET IDENTITY_INSERT [dbo].[SKLADISTE] OFF
GO
ALTER TABLE [dbo].[RACUN]  WITH CHECK ADD  CONSTRAINT [FK_RACUN_KUPAC] FOREIGN KEY([ID_Kupac])
REFERENCES [dbo].[KUPAC] ([ID_Kupca])
GO
ALTER TABLE [dbo].[RACUN] CHECK CONSTRAINT [FK_RACUN_KUPAC]
GO
ALTER TABLE [dbo].[RACUN]  WITH CHECK ADD  CONSTRAINT [FK_RACUN_SKLADISTE] FOREIGN KEY([ID_Skladiste])
REFERENCES [dbo].[SKLADISTE] ([ID_Skladiste])
GO
ALTER TABLE [dbo].[RACUN] CHECK CONSTRAINT [FK_RACUN_SKLADISTE]
GO
ALTER TABLE [dbo].[RACUN_ARTIKAl]  WITH CHECK ADD  CONSTRAINT [FK_RACUN_ARTIKAl_ARTIKAL] FOREIGN KEY([ID_Artikal])
REFERENCES [dbo].[ARTIKAL] ([ID_Artikal])
GO
ALTER TABLE [dbo].[RACUN_ARTIKAl] CHECK CONSTRAINT [FK_RACUN_ARTIKAl_ARTIKAL]
GO
ALTER TABLE [dbo].[RACUN_ARTIKAl]  WITH CHECK ADD  CONSTRAINT [FK_RACUN_ARTIKAl_RACUN] FOREIGN KEY([ID_Racun])
REFERENCES [dbo].[RACUN] ([ID_Racun])
GO
ALTER TABLE [dbo].[RACUN_ARTIKAl] CHECK CONSTRAINT [FK_RACUN_ARTIKAl_RACUN]
GO
